USE [master]
GO
/****** Object:  Database [ConsultoraRestaurantes]    Script Date: 12/07/2023 22:58:09 ******/
IF DB_ID('ConsultoraRestaurantes') IS NOT NULL
    DROP DATABASE ConsultoraRestaurantes;
GO

CREATE DATABASE ConsultoraRestaurantes;
GO

USE ConsultoraRestaurantes;
GO

/****** Object:  Table [dbo].[Distrito]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distrito](
	[Cod_Postal] [varchar](10) NOT NULL,
	[Nombre_Distrito] [varchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Postal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Cliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI_Cliente] [char](8) NOT NULL,
	[Nombres_Cliente] [varchar](35) NOT NULL,
	[Ape_Paterno] [varchar](30) NOT NULL,
	[Ape_Materno] [varchar](30) NOT NULL,
	[Direccion_Cliente] [varchar](max) NULL,
	[Cod_Postal] [varchar](10) NOT NULL,
	[Email_Cliente] [varchar](max) NULL,
	[Referencia] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Restaurante]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Restaurante](
	[RUC_Rest] [char](11) NOT NULL,
	[Nombre_Rest] [varchar](30) NOT NULL,
	[Direccion_Rest] [varchar](max) NOT NULL,
	[Cod_Postal] [varchar](10) NOT NULL,
	[Horario_Apertura] [time](7) NOT NULL,
	[Horario_Cierre] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RUC_Rest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Plato]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Plato](
	[ID_Plato] [int] NOT NULL,
	[RUC_Rest] [char](11) NOT NULL,
	[Nombre_Plato] [varchar](50) NOT NULL,
	[Descripcion_Plato] [varchar](max) NULL,
	[Precio_Plato] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Plato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Menu]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID_Menu] [int] NOT NULL,
	[RUC_Rest] [char](11) NOT NULL,
	[ID_Plato] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[Estado]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[ID_Menu] [int] NOT NULL,
	[Disponibilidad] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[Consultas]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[ID_Consulta] [int] IDENTITY(1,1) NOT NULL,
	[DNI_Cliente] [char](8) NOT NULL,
	[RUC_Rest] [char](11) NOT NULL,
	[ID_Plato] [int] NOT NULL,
	[Fecha_Consulta] [datetime2] NOT NULL
	CONSTRAINT PK_Consultas PRIMARY KEY (ID_Consulta),
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[Telefonos_Cliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos_Cliente](
	[DNI_Cliente] [char](8) NOT NULL,
	[Telefono_Cliente] [varchar](15) NULL
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[Telefonos_Rest]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos_Rest](
	[RUC_Rest] [char](11) NOT NULL,
	[Telefono_Rest] [varchar](15) NULL
) ON [PRIMARY]

GO

ALTER TABLE Cliente
ADD CONSTRAINT FK_Cliente_Distrito
FOREIGN KEY (Cod_Postal) REFERENCES Distrito(Cod_Postal);

ALTER TABLE Restaurante
ADD CONSTRAINT FK_Restaurante_Distrito
FOREIGN KEY (Cod_Postal) REFERENCES Distrito(Cod_Postal);

ALTER TABLE Plato
ADD CONSTRAINT FK_Plato_Restaurante
FOREIGN KEY (RUC_Rest) REFERENCES Restaurante(RUC_Rest);

ALTER TABLE Menu
ADD CONSTRAINT FK_Menu_Plato
FOREIGN KEY (ID_Plato) REFERENCES Plato(ID_Plato);

ALTER TABLE Menu
ADD CONSTRAINT FK_Menu_Restaurante
FOREIGN KEY (RUC_Rest) REFERENCES Restaurante(RUC_Rest);

ALTER TABLE Estado
ADD CONSTRAINT FK_Estado_Menu
FOREIGN KEY (ID_Menu) REFERENCES Menu(ID_Menu);

ALTER TABLE Consultas
ADD CONSTRAINT FK_Consultas_Cliente
FOREIGN KEY (DNI_Cliente) REFERENCES Cliente(DNI_Cliente);

ALTER TABLE Consultas
ADD CONSTRAINT FK_Consultas_Restaurante
FOREIGN KEY (RUC_Rest) REFERENCES Restaurante(RUC_Rest);

ALTER TABLE Consultas
ADD CONSTRAINT FK_Consultas_Plato
FOREIGN KEY (ID_Plato) REFERENCES Plato(ID_Plato);

ALTER TABLE Telefonos_Cliente
ADD CONSTRAINT FK_TelCliente_Cliente
FOREIGN KEY (DNI_Cliente) REFERENCES Cliente(DNI_Cliente);

ALTER TABLE Telefonos_Rest
ADD CONSTRAINT FK_TelRest_Restaurante
FOREIGN KEY (RUC_Rest) REFERENCES Restaurante(RUC_Rest);

GO

/****** Object: Check Constraints    Script Date: 12/07/2023 22:58:09 ******/

-- TABLA Distrito
-- Cod_Postal con formato determinado
ALTER TABLE Distrito
ADD CONSTRAINT CK_Distrito_Codigo
CHECK (Cod_Postal LIKE 'LIMA_%');

-- TABLA Plato
-- Precio positivo
ALTER TABLE Plato
ADD CONSTRAINT CK_Plato_Precio
CHECK (Precio_Plato > 0);

-- TABLA Restaurante
-- RUC debe tener 11 dígitos (ya es CHAR(11), pero se refuerza) y solo números:
ALTER TABLE Restaurante
ADD CONSTRAINT CK_Restaurante_RUC
CHECK (RUC_Rest NOT LIKE '%[^0-9]%');
-- Horario válido
ALTER TABLE Restaurante
ADD CONSTRAINT CK_Restaurante_Horario
CHECK (Horario_Apertura < Horario_Cierre);

-- TABLA Cliente
-- DNI solo números
ALTER TABLE Cliente
ADD CONSTRAINT CK_Cliente_DNI
CHECK (DNI_Cliente NOT LIKE '%[^0-9]%');
-- Correo con formato básico
ALTER TABLE Cliente
ADD CONSTRAINT CK_Cliente_Email
CHECK (Email_Cliente LIKE '%_@_%._%');

-- TABLA Telefono_Cliente
-- Teléfono solo números y longitud mínima
ALTER TABLE Telefonos_Cliente
ADD CONSTRAINT CK_Telefono_Cliente
CHECK (Telefono_Cliente NOT LIKE '%[^0-9]%' AND LEN(Telefono_Cliente) >= 9);

-- TABLA Telefono_Restaurante
-- Teléfono solo números y longitud mínima
ALTER TABLE Telefonos_Rest
ADD CONSTRAINT CK_Telefono_Rest
CHECK (Telefono_Rest NOT LIKE '%[^0-9]%' AND LEN(Telefono_Rest) >= 9);

-- TABLA Estado
-- Estado permitido
ALTER TABLE Estado
ADD CONSTRAINT CK_Menu_Estado
CHECK (Disponibilidad IN ('Disponible', 'No disponible'));

-- TABLA Consultas
-- Fecha no futura : Las consultas son históricas, no del futuro.
ALTER TABLE Consultas
ADD CONSTRAINT CK_Consultas_Fecha
CHECK (Fecha_Consulta <= GETDATE());


/****** Object: Indexes & ON DELETE / ON UPDATE (Referential Integrity)    Script Date: 12/07/2023 22:58:09 ******/

-- Búsquedas frecuentes por distrito
CREATE NONCLUSTERED INDEX IX_Cliente_Cod_Postal
ON Cliente (Cod_Postal);

CREATE NONCLUSTERED INDEX IX_Restaurante_Cod_Postal
ON Restaurante (Cod_Postal);

CREATE NONCLUSTERED INDEX IX_Plato_RUC_Rest
ON Plato (RUC_Rest);

CREATE NONCLUSTERED INDEX IX_Menu_RUC_Rest
ON Menu (RUC_Rest);

CREATE NONCLUSTERED INDEX IX_Menu_ID_Plato
ON Menu (ID_Plato);

CREATE NONCLUSTERED INDEX IX_Estado_ID_Menu
ON Estado (ID_Menu);

-- Consultas
CREATE NONCLUSTERED INDEX IX_Consultas_DNI_Cliente
ON Consultas (DNI_Cliente);

CREATE NONCLUSTERED INDEX IX_Consultas_RUC_Rest
ON Consultas (RUC_Rest);

CREATE NONCLUSTERED INDEX IX_Consultas_Fecha
ON Consultas (Fecha_Consulta);

-- ON DELETE / ON UPDATE:

-- Cliente → Distrito : Si se elimina un distrito NO debería borrar clientes:
IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Cliente_Distrito'
)
BEGIN
    ALTER TABLE Cliente
    ADD CONSTRAINT FK_Cliente_Distrito
    FOREIGN KEY (Cod_Postal)
    REFERENCES Distrito (Cod_Postal)
    ON UPDATE CASCADE
    ON DELETE NO ACTION;
END
GO

-- Restaurante → Distrito
IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Restaurante_Distrito'
)
BEGIN
    ALTER TABLE Restaurante
    ADD CONSTRAINT FK_Restaurante_Distrito
    FOREIGN KEY (Cod_Postal)
    REFERENCES Distrito (Cod_Postal)
    ON UPDATE CASCADE
    ON DELETE NO ACTION;
END
GO

-- Plato → Restaurante : Si se elimina un restaurante no se deben borrar platos automáticamente:
IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Plato_Restaurante'
)
BEGIN
    ALTER TABLE Plato
    ADD CONSTRAINT FK_Plato_Restaurante
    FOREIGN KEY (RUC_Rest)
    REFERENCES Restaurante (RUC_Rest)
    ON UPDATE CASCADE
    ON DELETE NO ACTION;
END
GO

-- Menu → Plato / Restaurante : Si se elimina un plato o restaurante, su menú sí debe desaparecer
IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Menu_Plato'
)
BEGIN
    ALTER TABLE Menu
    ADD CONSTRAINT FK_Menu_Plato
    FOREIGN KEY (ID_Plato)
    REFERENCES Plato (ID_Plato)
    ON UPDATE CASCADE
    ON DELETE CASCADE;
END
GO

IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Menu_Restaurante'
)
BEGIN
    ALTER TABLE Menu
    ADD CONSTRAINT FK_Menu_Restaurante
    FOREIGN KEY (RUC_Rest)
    REFERENCES Restaurante (RUC_Rest)
    ON UPDATE CASCADE
    ON DELETE CASCADE;
END
GO

-- Estado → Menu : Estado no tiene sentido sin menú
IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Estado_Menu'
)
BEGIN
    ALTER TABLE Estado
    ADD CONSTRAINT FK_Estado_Menu
    FOREIGN KEY (ID_Menu)
    REFERENCES Menu (ID_Menu)
    ON UPDATE CASCADE
    ON DELETE CASCADE;
END
GO

-- Consultas → Cliente / Plato / Restaurante : Aquí NO se usa CASCADE en DELETE porque las consultas son históricas y no se deben borrar aunque el cliente o restaurante se elimine.
IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Consultas_Cliente'
)
BEGIN
    ALTER TABLE Consultas
    ADD CONSTRAINT FK_Consultas_Cliente
    FOREIGN KEY (DNI_Cliente)
    REFERENCES Cliente (DNI_Cliente)
    ON UPDATE CASCADE
    ON DELETE NO ACTION;
END
GO

IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Consultas_Plato'
)
BEGIN
    ALTER TABLE Consultas
    ADD CONSTRAINT FK_Consultas_Plato
    FOREIGN KEY (ID_Plato)
    REFERENCES Plato (ID_Plato)
    ON UPDATE CASCADE
    ON DELETE NO ACTION;
END
GO

IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_Consultas_Restaurante'
)
BEGIN
    ALTER TABLE Consultas
    ADD CONSTRAINT FK_Consultas_Restaurante
    FOREIGN KEY (RUC_Rest)
    REFERENCES Restaurante (RUC_Rest)
    ON UPDATE CASCADE
    ON DELETE NO ACTION;
END
GO

-- Teléfonos (Cliente / Restaurante) : Si se borra algún cliente o restaurante → sus teléfonos también deberían
IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_TelCliente_Cliente'
)
BEGIN
    ALTER TABLE Telefonos_Cliente
    ADD CONSTRAINT FK_TelCliente_Cliente
    FOREIGN KEY (DNI_Cliente)
    REFERENCES Cliente (DNI_Cliente)
    ON UPDATE CASCADE
    ON DELETE CASCADE;
END
GO

IF NOT EXISTS (
    SELECT 1 FROM sys.foreign_keys WHERE name = 'FK_TelRest_Restaurante'
)
BEGIN
    ALTER TABLE Telefonos_Rest
    ADD CONSTRAINT FK_TelRest_Restaurante
    FOREIGN KEY (RUC_Rest)
    REFERENCES Restaurante (RUC_Rest)
    ON UPDATE CASCADE
    ON DELETE CASCADE;
END
GO

/****** Object:  Record Insertion    Script Date: 12/07/2023 22:58:09 ******/

INSERT [dbo].[Distrito] ([Cod_Postal], [Nombre_Distrito]) VALUES (N'LIMA04', N'Barranco')
INSERT [dbo].[Distrito] ([Cod_Postal], [Nombre_Distrito]) VALUES (N'LIMA07', N'Callao')
INSERT [dbo].[Distrito] ([Cod_Postal], [Nombre_Distrito]) VALUES (N'LIMA08', N'La Punta')

INSERT [dbo].[Cliente] ([DNI_Cliente], [Nombres_Cliente], [Ape_Paterno], [Ape_Materno], [Direccion_Cliente], [Cod_Postal], [Email_Cliente], [Referencia]) VALUES (CAST(10132458 AS char(8)), N'Patricia', N'Miranda', N'Tello', N'Calle Callao 567', N'LIMA08', N'patricia.miranda.tello@hotmail.com', N'Frente al Faro de La Punta')
INSERT [dbo].[Cliente] ([DNI_Cliente], [Nombres_Cliente], [Ape_Paterno], [Ape_Materno], [Direccion_Cliente], [Cod_Postal], [Email_Cliente], [Referencia]) VALUES (CAST(10578966 AS char(8)), N'Sofía', N'Benavides', N'Salcedo', N'Av. Benavides 2345', N'LIMA33', N'sofia.benavides.salcedo@hotmail.com', N'Cerca del Parque de la Amistad')
INSERT [dbo].[Cliente] ([DNI_Cliente], [Nombres_Cliente], [Ape_Paterno], [Ape_Materno], [Direccion_Cliente], [Cod_Postal], [Email_Cliente], [Referencia]) VALUES (CAST(10987654 AS char(8)), N'Alonso', N'Jiménez', N'Rivas', N'Av. Primavera 1234', N'LIMA41', N'alonso.jimenez.rivas@gmail.com', N'Cerca del Jockey Plaza')

INSERT [dbo].[Restaurante] ([RUC_Rest], [Nombre_Rest], [Direccion_Rest], [Cod_Postal], [Horario_Apertura], [Horario_Cierre]) VALUES (CAST(20123456789 AS char(11)), N'El Sabor Criollo', N'Av. José Pardo 123, Miraflores', N'LIMA18', CAST(N'12:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[Restaurante] ([RUC_Rest], [Nombre_Rest], [Direccion_Rest], [Cod_Postal], [Horario_Apertura], [Horario_Cierre]) VALUES (CAST(20190123456 AS char(11)), N'El Fogón Criollo', N'Av. Tacna 456, Surco', N'LIMA33', CAST(N'09:00:00' AS Time), CAST(N'20:00:00' AS Time))
INSERT [dbo].[Restaurante] ([RUC_Rest], [Nombre_Rest], [Direccion_Rest], [Cod_Postal], [Horario_Apertura], [Horario_Cierre]) VALUES (CAST(20234567890 AS char(11)), N'La Trattoria Italiana', N'Av. Conquistadores 456, San Isidro', N'LIMA27', CAST(N'18:00:00' AS Time), CAST(N'23:00:00' AS Time))

INSERT [dbo].[Plato] ([ID_Plato], [RUC_Rest], [Nombre_Plato], [Descripcion_Plato], [Precio_Plato]) VALUES (CAST(1035 AS int), CAST(20890123456 AS char(11)), N'Leche de tigre', N'Jugosa leche de tigre fresca', CAST(12.50 AS Decimal(10, 2)))
INSERT [dbo].[Plato] ([ID_Plato], [RUC_Rest], [Nombre_Plato], [Descripcion_Plato], [Precio_Plato]) VALUES (CAST(1054 AS int), CAST(20678901234 AS char(11)), N'Ceviche Mixto', N'Delicioso ceviche de pescado, calamar y camarón con limón y ají', CAST(28.00 AS Decimal(10, 2)))
INSERT [dbo].[Plato] ([ID_Plato], [RUC_Rest], [Nombre_Plato], [Descripcion_Plato], [Precio_Plato]) VALUES (CAST(1117 AS int), CAST(20789012345 AS char(11)), N'Seco de Cordero', N'Guiso de cordero tierno en salsa de cilantro, acompañado de frijoles y arroz', CAST(27.00 AS Decimal(10, 2)))

INSERT [dbo].[Menu] ([ID_Menu], [RUC_Rest], [ID_Plato]) VALUES (CAST(1001 AS int), CAST(20123456789 AS char(11)), CAST(1035 AS int))
INSERT [dbo].[Menu] ([ID_Menu], [RUC_Rest], [ID_Plato]) VALUES (CAST(1002 AS int), CAST(20123456789 AS char(11)), CAST(1054 AS int))
INSERT [dbo].[Menu] ([ID_Menu], [RUC_Rest], [ID_Plato]) VALUES (CAST(1003 AS int), CAST(20123456789 AS char(11)), CAST(1117 AS int))

INSERT [dbo].[Estado] ([ID_Menu], [Disponibilidad]) VALUES (CAST(1001 AS int), N'Disponible')
INSERT [dbo].[Estado] ([ID_Menu], [Disponibilidad]) VALUES (CAST(1002 AS int), N'Disponible')
INSERT [dbo].[Estado] ([ID_Menu], [Disponibilidad]) VALUES (CAST(1003 AS int), N'Disponible')

INSERT [dbo].[Consultas] ([DNI_Cliente], [RUC_Rest], [ID_Plato], [Fecha_Consulta]) VALUES (CAST(20315489 AS char(8)), CAST(20345678901 AS char(11)), CAST(5046 AS int), ('2023-04-18 10:48:00'))
INSERT [dbo].[Consultas] ([DNI_Cliente], [RUC_Rest], [ID_Plato], [Fecha_Consulta]) VALUES (CAST(67890123 AS char(8)), CAST(20890123456 AS char(11)), CAST(2197 AS int), ('2023-04-26 11:30:00'))
INSERT [dbo].[Consultas] ([DNI_Cliente], [RUC_Rest], [ID_Plato], [Fecha_Consulta]) VALUES (CAST(20315489 AS char(8)), CAST(20690123461 AS char(11)), CAST(4551 AS int), ('2023-04-29 16:11:52'))

INSERT [dbo].[Telefonos_Cliente] ([DNI_Cliente], [Telefono_Cliente]) VALUES (CAST(89012345 AS char(8)), CAST(982939784 AS varchar(15)))
INSERT [dbo].[Telefonos_Cliente] ([DNI_Cliente], [Telefono_Cliente]) VALUES (CAST(74742391 AS char(8)), CAST(997113651 AS varchar(15)))
INSERT [dbo].[Telefonos_Cliente] ([DNI_Cliente], [Telefono_Cliente]) VALUES (CAST(76023427 AS char(8)), CAST(961276566 AS varchar(15)))

INSERT [dbo].[Telefonos_Rest] ([RUC_Rest], [Telefono_Rest]) VALUES (CAST(20789012345 AS char(11)), CAST(940727392 AS varchar(15)))
INSERT [dbo].[Telefonos_Rest] ([RUC_Rest], [Telefono_Rest]) VALUES (CAST(20690123461 AS char(11)), CAST(967341473 AS varchar(15)))
INSERT [dbo].[Telefonos_Rest] ([RUC_Rest], [Telefono_Rest]) VALUES (CAST(20901234567 AS char(11)), CAST(999865044 AS varchar(15)))

/****** Object:  StoredProcedure [dbo].[SP_ActualizarApellidoMaternoCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarApellidoMaternoCliente]
    @DNI_Cliente CHAR(8),
    @Ape_Materno VARCHAR(30)
AS
BEGIN
    UPDATE Cliente
    SET Ape_Materno = @Ape_Materno
    WHERE DNI_Cliente = @DNI_Cliente
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarApellidoPaternoCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarApellidoPaternoCliente]
    @DNI_Cliente CHAR(8),
    @Ape_Paterno VARCHAR(30)
AS
BEGIN
    UPDATE Cliente
    SET Ape_Paterno = @Ape_Paterno
    WHERE DNI_Cliente = @DNI_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarDireccionCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarDireccionCliente]
    @DNI_Cliente CHAR(8),
    @Direccion_Cliente VARCHAR(MAX)
AS
BEGIN
    UPDATE Cliente
    SET Direccion_Cliente = @Direccion_Cliente
    WHERE DNI_Cliente = @DNI_Cliente
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarDistritoCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarDistritoCliente]
    @DNI_Cliente CHAR(8),
    @Cod_Postal VARCHAR(10)
AS
BEGIN
    UPDATE Cliente
    SET Cod_Postal = @Cod_Postal
    WHERE DNI_Cliente = @DNI_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarEmailCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarEmailCliente]
    @DNI_Cliente CHAR(8),
    @Email_Cliente VARCHAR(MAX)
AS
BEGIN
    UPDATE Cliente
    SET Email_Cliente = @Email_Cliente
    WHERE DNI_Cliente = @DNI_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarNombresCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarNombresCliente]
    @DNI_Cliente CHAR(8),
    @Nombres_Cliente VARCHAR(35)
AS
BEGIN
    UPDATE Cliente
    SET Nombres_Cliente = @Nombres_Cliente
    WHERE DNI_Cliente = @DNI_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarClientePorDNI]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarClientePorDNI]
    @DNI_Cliente CHAR(8)
AS
BEGIN
    SELECT *
    FROM Cliente
    WHERE DNI_Cliente = @DNI_Cliente
END

GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarClientesPorDistrito]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarClientesPorDistrito]
    @Nombre_Distrito VARCHAR(35)
AS
BEGIN
    SELECT c.*, d.Nombre_Distrito
    FROM Cliente c
    INNER JOIN Distrito d ON c.Cod_Postal = d.Cod_Postal
    WHERE d.Nombre_Distrito = @Nombre_Distrito
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarPlatosDisponiblesPorNombre]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarPlatosDisponiblesPorNombre]
    @Nombre_Plato VARCHAR(50)
AS
BEGIN
    SELECT p.Nombre_Plato, p.Descripcion_Plato, p.Precio_Plato, r.Nombre_Rest, r.Direccion_Rest, d.Nombre_Distrito, e.Disponibilidad
    FROM Plato p
    INNER JOIN Menu m ON p.ID_Plato = m.ID_Plato
    INNER JOIN Restaurante r ON m.RUC_Rest = r.RUC_Rest
    INNER JOIN Distrito d ON r.Cod_Postal = d.Cod_Postal
    INNER JOIN Estado e ON e.ID_Menu = m.ID_Menu
    WHERE p.Nombre_Plato = @Nombre_Plato
        AND e.Disponibilidad = 'Disponible'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarPlatosPorRest]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarPlatosPorRest]
    @RUC_Rest CHAR(11)
AS
BEGIN
    SELECT r.RUC_Rest, r.Nombre_Rest, p.ID_Plato, p.Nombre_Plato, p.Descripcion_Plato, 
	p.Precio_Plato, r.Direccion_Rest, d.Nombre_Distrito
    FROM Plato p
    INNER JOIN Restaurante r ON p.RUC_Rest = r.RUC_Rest
    INNER JOIN Distrito d ON r.Cod_Postal = d.Cod_Postal
    WHERE p.RUC_Rest = @RUC_Rest
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarTelefonosCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BuscarTelefonosCliente]
    @DNI_Cliente CHAR(8)
AS
BEGIN
    SELECT C.Nombres_Cliente, C.Ape_Paterno, C.Ape_Materno, TC.Telefono_Cliente
    FROM Cliente C
    INNER JOIN Telefonos_Cliente TC ON C.DNI_Cliente = TC.DNI_Cliente
    WHERE C.DNI_Cliente = @DNI_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarCliente]
    @DNI_Cliente CHAR(8)
AS
BEGIN
    DELETE FROM Cliente
    WHERE DNI_Cliente = @DNI_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarDistrito]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarDistrito]
    @Cod_Postal VARCHAR(10)
AS
BEGIN
    DELETE FROM Distrito
    WHERE Cod_Postal = @Cod_Postal
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarPlato]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarPlato]
    @ID_Plato INT
AS
BEGIN
    DELETE FROM Plato
    WHERE ID_Plato = @ID_Plato
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarRestaurante]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EliminarRestaurante]
    @RUC_Rest CHAR(11)
AS
BEGIN
    DELETE FROM Restaurante
    WHERE RUC_Rest = @RUC_Rest
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarTelefonoCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_EliminarTelefonoCliente]
    @Telefono_Cliente VARCHAR(15)
AS
BEGIN
    DELETE FROM Telefonos_Cliente
    WHERE Telefono_Cliente = @Telefono_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertCliente]
    @DNI_Cliente CHAR(8),
    @Nombres_Cliente VARCHAR(35),
    @Ape_Paterno VARCHAR(30),
    @Ape_Materno VARCHAR(30),
    @Direccion_Cliente VARCHAR(MAX),
    @Cod_Postal VARCHAR(10),
    @Email_Cliente VARCHAR(MAX),
    @Referencia VARCHAR(MAX)
AS
BEGIN
    INSERT INTO Cliente (DNI_Cliente, Nombres_Cliente, Ape_Paterno, Ape_Materno, Direccion_Cliente, Cod_Postal, Email_Cliente, Referencia)
    VALUES (@DNI_Cliente, @Nombres_Cliente, @Ape_Paterno, @Ape_Materno, @Direccion_Cliente, @Cod_Postal, @Email_Cliente, @Referencia)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertConsulta]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertConsulta]
    @ID_Consulta INT,
    @DNI_Cliente CHAR(8),
    @RUC_Rest CHAR(11),
    @ID_Plato INT,
    @Fecha_Consulta DATETIME
AS
BEGIN
    INSERT INTO Consultas (ID_Consulta, DNI_Cliente, RUC_Rest, ID_Plato, Fecha_Consulta)
    VALUES (@ID_Consulta, @DNI_Cliente, @RUC_Rest, @ID_Plato, @Fecha_Consulta)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertMenu]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertMenu]
	@ID_Menu INT,
	@RUC_Rest CHAR(11),
	@ID_Plato INT
AS
BEGIN
    INSERT INTO Menu(ID_Menu, RUC_Rest, ID_Plato)
    VALUES (@ID_Menu, @RUC_Rest, @ID_Plato)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertPlato]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertPlato]
    @ID_Plato INT,
	@RUC_Rest CHAR(11),
	@Nombre_Plato VARCHAR(50),
	@Descripcion_Plato VARCHAR(MAX),
	@Precio_Plato DECIMAL(10, 2)
AS
BEGIN
    INSERT INTO Plato(ID_Plato, RUC_Rest, Nombre_Plato, Descripcion_Plato, Precio_Plato)
    VALUES (@ID_Plato, @RUC_Rest, @Nombre_Plato, @Descripcion_Plato, @Precio_Plato)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertRestaurante]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertRestaurante]
    @RUC_Rest CHAR(11),
	@Nombre_Rest VARCHAR(30),
	@Direccion_Rest VARCHAR(MAX),
	@Cod_Postal VARCHAR(10),
	@Horario_Apertura TIME(7),
	@Horario_Cierre TIME(7)
AS
BEGIN
    INSERT INTO Restaurante(RUC_Rest, Nombre_Rest, Direccion_Rest, Cod_Postal, Horario_Apertura, Horario_Cierre)
    VALUES (@RUC_Rest, @Nombre_Rest, @Direccion_Rest, @Cod_Postal, @Horario_Apertura, @Horario_Cierre)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertTelfCliente]    Script Date: 12/07/2023 22:58:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertTelfCliente]
    @DNI_Cliente CHAR(8),
	@Telefono_Cliente VARCHAR(15)
AS
IF NOT EXISTS (
    SELECT 1
    FROM Telefonos_Rest TR
    WHERE TR.Telefono_Rest = @Telefono_Cliente
)
AND NOT EXISTS (
    SELECT 1
    FROM Telefonos_Cliente TC
    WHERE TC.Telefono_Cliente = @Telefono_Cliente
)
BEGIN
    INSERT INTO Telefonos_Cliente (DNI_Cliente, Telefono_Cliente)
    VALUES (@DNI_Cliente, @Telefono_Cliente)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertTelfRest]    Script Date: 12/07/2023 22:58:09 ******/
-- Confirmará si un nuevo teléfono ingresado (de cliente o restaurante) ya existe en ambas tablas.
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertTelfRest]
	@RUC_Rest CHAR(11),
	@Telefono_Rest VARCHAR(15)
AS
IF NOT EXISTS (
	SELECT 1
	FROM Telefonos_Rest TR
	WHERE TR.Telefono_Rest = @Telefono_Rest
)
AND NOT EXISTS (
	SELECT 1 
	FROM Telefonos_Cliente TC
	WHERE TC.Telefono_Cliente = @Telefono_Rest
)
BEGIN
    INSERT INTO Telefonos_Rest(RUC_Rest, Telefono_Rest)
    VALUES (@RUC_Rest, @Telefono_Rest)
END
GO
USE [master]
GO